:root {
  --blue-500: #3b82f6;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue-900);
}

nav a {
  border: 1px solid var(--blue-500);
  margin: 2px;
  padding: 5px;
}

nav a:hover {
  background-color: var(--blue-500);
  color: white;
}

input[type='file'] {
  color: red;
}

button {
  max-width: 200px;
}

button:hover {
  background-color: var(--blue-700);
  color: white;
}

.disabled,
button[disabled],
button[disabled]:hover {
  opacity: 0.5;
  pointer-events: none;
}

button {
  margin: 2px;
}

a:hover,
button:hover {
  transition: all 0.1s;
}

.card-image {
  height: 250px;
  width: auto;
  margin: auto;
  object-fit: contain;
}

.spinner {
  border: 3px solid white; /* Light grey */
  border-top: 3px solid var(--blue-700); /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
